name: hkid_validator
description: An HKID Validator and Generator, written by a pure dart. Through this library, you would easily validate your HKID quickly.
repository: https://github.com/hkk97/hkid_validator/tree/main
version: 0.0.5

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  test: ^1.24.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
